@import "Styles/_colours";
@import "Styles/_variables";

.container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	background: $surface-colour;
}

.nav {
	z-index: $nav-index;
	display: flex;
	flex-direction: column;
	background-color: $background-colour;
}

.mainContainer {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	&::-webkit-scrollbar {
		width: 0.5rem;
	}
	&::-webkit-scrollbar-track {
		background: $surface-colour;
	}
	&::-webkit-scrollbar-thumb {
		background: $tertiary-colour;
	}
}

.main {
	padding: 0.5rem 2rem;
	flex: 1;
	max-width: 1200px;
}

.loading {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100%;
	padding: 1rem 0;
	background-color: $tertiary-colour;
	color: $primary-colour;
	display: flex;
	justify-content: center;
	font-weight: bolder;
}
