@import "Styles/_colours";
@import "Styles/_variables";

.container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	background: $surface-colour;
}

.nav {
	z-index: $nav-index;
	display: flex;
	flex-direction: column;
	background-color: $background-colour;
}

.mainContainer {
	flex: 1;
	overflow: auto;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	padding: 0.5rem 2rem;
	flex: 1;
}

.loading {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	padding: 1rem;
	background-color: $tertiary-colour;
	color: $primary-colour;
	display: flex;
	justify-content: center;
	font-weight: bolder;
}
