// Most displayed colour in apps UI elements.
$primary-colour: #560764;
// Accent colour that is applied sparingly (e.g. floating buttons, input controls, selected text, progress bars, links, headlines)
$secondary-colour: #bb8fa9;

// Used for components placed on top of the background (e.g. card, sheet, menu components).
$surface-colour: #be97dc;
// Doesn't represent brand. Either very light or very dark depending on theme.
$background-colour: #a374d5;

$primary-text-colour: #eee;
$secondary-text-colour: #000;

$disabled-colour: #bcbab8;
$error-colour: #f67280;
