// Most displayed colour in apps UI elements.
$primary-colour: #560764;
// Accent colour that is applied sparingly (e.g. floating buttons, input controls, selected text, progress bars, links, headlines)
$secondary-colour: #d2b7c9;

// Used for components placed on top of the background (e.g. card, sheet, menu components).
$surface-colour: #7838a8;
// Doesn't represent brand. Either very light or very dark depending on theme.
$background-colour: #af85db;

$primary-text-colour: #eee;
$secondary-text-colour: #000;

$disabled-colour: #9b9b9b;
$error-colour: #f67280;
