@import "Styles/_colours";
@import "Styles/_variables";

.container {
	z-index: $overlay-index;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $tertiary-colour;
}
