@import "Styles/_colours";

@keyframes bounce-frames {
	to {
		opacity: 0.1;
		transform: translate3d(0, -16px, 0);
	}
}

.bounce {
	display: flex;
	justify-content: center;
	div {
		width: 16px;
		height: 16px;
		margin: 3rem 0.2rem;
		background: $primary-colour;
		border-radius: 50%;
		animation: bounce-frames 0.6s infinite alternate;
		&:nth-child(2) {
			animation-delay: 0.2s;
		}
		&:nth-child(3) {
			animation-delay: 0.4s;
		}
	}
}
