@import "Styles/colours";

body {
	margin: 0;
	// font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	// 	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	// 	sans-serif;
	// font-family: "Lucida Sans Typewriter", "Lucida Console", monaco,
	// 	"Bitstream Vera Sans Mono", monospace;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1, h2, h3, h4, h5, h6, p {
	color: $primary-text-colour;
}
